openapi: 3.0.3
info:
  title: HackPac - OpenAPI 3.0
  description: Pacman api server
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  version: 1.0.11
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: http://localhost:8080/api/v1
tags:
- name: user
  description: Operations about user
- name: controller
  description: Controller calls
paths:
  /controller:
    get:
      tags:
      - controller
      summary: Get new controller
      description: Get new controller
      operationId: controller_get
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Controller'
      x-openapi-router-controller: swagger_server.controllers.controller_controller
  /controller/{controllerId}/direction:
    post:
      tags:
      - controller
      summary: Set the direction
      description: Get control
      operationId: controller_controller_id_direction_post
      parameters:
      - name: controllerId
        in: path
        description: ID of the controller
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        description: data to post
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectionUpdate'
      responses:
        "200":
          description: success
      x-openapi-router-controller: swagger_server.controllers.controller_controller
components:
  schemas:
    Controller:
      type: object
      properties:
        id:
          type: integer
          format: int64
      example:
        id: 0
    DirectionUpdate:
      type: object
      properties:
        direction:
          type: string
          format: string
          example: up

